PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=customer_test_api
DB_USER=postgres
DB_PASSWORD=
DB_NAME_TEST=customer_test_api_test

STRIPE_SECRET_KEY=
SQUARE_ACCESS_TOKEN=

JWT_SECRET=
JWT_EXPIRES_IN=1d
