PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=customer_test_api
DB_USER=postgres
DB_PASSWORD=
DB_NAME_TEST=customer_test_api_test
DB_POOL_MAX=20
DB_POOL_MIN=0
DB_POOL_ACQUIRE=30000
DB_POOL_IDLE=10000

STRIPE_SECRET_KEY=
SQUARE_ACCESS_TOKEN=
SQUARE_LOCATION_ID=
SQUARE_ENVIRONMENT=sandbox

JWT_SECRET=
JWT_EXPIRES_IN=1d
